.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

@media (max-width: 375px) {
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
